  /*This is the CSS file for the MBoutique Website*/
 /*Header CSS for all files in the mboutique website */
 #header {
     height: 72px;
     width: 1000px;
     background-color: #fffabe;
     position: absolute;
     font-family: Arial, Helvetica, sans-serif;
     color: #515151;
     font-size: 16px;
 }
 .logo {
     float: left;
     margin-top: 17px;
     margin-left: 28px;
     width: 156px;
     height 33px;
 }
 nav ul {
     display: inline;
     width: 700px;
     margin-left: 210px;
     margin-top: -27px;
     list-style-type: none;
     float: left;
 }
 nav li {
     display: inline;
     padding-right: 45px;
     padding-left: 18px;
 }
 a {
     text-decoration: none;
     color: #515151;
 }
 /*CSS for the Index File of the Mboutique Website*/
 #welcomeimg {
     height: 400px;
     width: 1000px;
 }
 image2 {
     float: left;
     height: 100% left: 35px;
     margin-top 730px;
     padding: 30px;
 }
 h3 {
     float: left;
 }
 p#title1 {
     margin-top: 76px;
     margin-left: 310px;
     width: 1000px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     color: #6a6969;
 }
 .maincontent {
     padding-left: 30px;
     margin-top: 60px;
     width: 200px;
     height: 200px;
 }
 .test1 {
     padding-left: 30px;
     margin-top: 60px;
     width: 200px;
     height: 200px;
 }
 #detail1 {
     float: left;
     margin-top: -280px;
     margin-left: 280px;
     width: 600px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 14px;
     color: #6a6969;
 }
 #title2 {
     float: left;
     margin-top: -145px;
     margin-left: 280px;
     width: 600px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 20px;
     color: #6a6969;
 }
 #detail2 {
     float: left;
     margin-top: -100px;
     margin-left: 280px;
     width: 600px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 14px;
     color: #6a6969;
 }
 #detail3 {
     float: left;
     margin-top: -35px;
     margin-left: 280px;
     width: 600px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 14px;
     color: #6a6969;
 }
 #title3 {
     margin-top: 35px;
     margin-left: 280px;
     width: 600px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 20px;
     color: #6a6969;
 }
 #dayscontainer {
     margin-top: -20px;
     magin-left: 20px;
     margin-bottom: 30px;
     Padding-bottom: 30px;
     align-content: flex-start;
     display: fixed;
     font-size: 12px;
 }
 #chart1 {
     display: inline-block;
     margin-top: 160px;
     magin-left: 20px;
     margin-right: 13px;
     padding-left: 10px;
     margin-bottom: 25px;
     width: 110px;
 }
 #chart1 ul {
     line-height: 20px;
     margin-left: 22px;
     width: 117px;
     font-size: 12px;
     list-style-type: none;
     padding: 0px;
     background-color: #fffabe;
     position: absolute;
 }
 #row1 {
     font-size: 14px width: 104px;
     padding-top: 5px;
     margin-left: 10px;
     padding-left: 0px;
     font-size: 14px;
     color: #6a6969;
 }
 #row2 {
     margin-left: 10px;
     padding-left: 0px;
     padding-bottom: 10px;
     font-size: 12px;
     color: #6a6969;
 }
 #monrow3 {
     margin-left: 10px;
     background-image: url("assets/images/coffee.png");
     background-repeat: no-repeat;
     background-position: 66px center;
     padding-left: 0px;
     padding-bottom: 6px;
     padding-top: 3px;
     font-size: 12px;
     color: #6a6969;
     width: 104px;
 }
 #monrow4 {
     padding-bottom: 3px;
     background-image: url("assets/images/lemon.png");
     background-repeat: no-repeat;
     background-position: 75px center;
     padding-left: 12px;
     padding-bottom: 10px;
     color: white;
     background-color: saddlebrown;
     width: 92px;
     font-size: 12px;
     line-height:
 }
 #tuesrow3 {
     margin-left: 10px;
     background-image: url("assets/images/violet-cassis.png");
     background-repeat: no-repeat;
     background-position: 66px center;
     padding-left: 0px;
     padding-bottom: 6px;
     padding-top: 3px;
     font-size: 12px;
     color: #6a6969;
     width: 104px;
 }
 #monrow4 {
     padding-bottom: 3px;
     background-image: url("assets/images/lemon.png");
     background-repeat: no-repeat;
     background-position: 75px center;
     padding-bottom: 10px;
     font-size: 12px;
     color: white;
     background-color: saddlebrown;
     width: 105px;
 }
 #tuesrow4 {
     margin-left: 10px;
     background-image: url("assets/images/green-tea.png");
     background-repeat: no-repeat;
     background-position: 65px center;
     padding-left: 0px;
     padding-bottom: 10px;
     font-size: 12px;
     color: #6a6969;
     width: 104px;
     font-size: 12px;
 }
 #wedrow3 {
     margin-left: 10px;
     background-image: url("assets/images/passion-fruit.png");
     background-repeat: no-repeat;
     background-position: 66px center;
     padding-left: 0px;
     padding-bottom: 6px;
     padding-top: 3px;
     color: #6a6969;
     width: 104px;
     font-size: 12px;
 }
 #wedrow4 {
     padding-bottom: 3px;
     background-image: url("assets/images/vanilla.png");
     background-repeat: no-repeat;
     background-position: 75px center;
     padding-left: 12px;
     padding-bottom: 10px;
     font-size: 12px;
     color: white;
     background-color: #df5277;
     width: 105px;
 }
 #thursrow3 {
     margin-left: 10px;
     background-image: url("assets/images/coffee.png");
     background-repeat: no-repeat;
     background-position: 66px center;
     padding-left: 0px;
     padding-bottom: 6px;
     padding-top: 3px;
     color: #6a6969;
     width: 104px;
     font-size: 12px;
 }
 #thursrow4 {
     padding-bottom: 3px;
     background-image: url("assets/images/pistachio.png");
     background-repeat: no-repeat;
     background-position: 75px center;
     padding-left: 12px;
     padding-bottom: 10px;
     font-size: 12px;
     color: #6a6969;
     width: 92px;
 }
 #frirow3 {
     margin-left: 10px;
     background-image: url("assets/images/raspbery.png");
     background-repeat: no-repeat;
     background-position: 66px center;
     padding-left: 0px;
     padding-bottom: 6px;
     padding-top: 3px;
     color: #6a6969;
     width: 104px;
     font-size: 12px;
 }
 #frirow4 {
     padding-bottom: 3px;
     background-image: url("assets/images/lemon.png");
     background-repeat: no-repeat;
     background-position: 75px center;
     padding-left: 12px;
     padding-bottom: 10px;
     font-size: 12px;
     color: white;
     background-color: #a2304e;
     width: 105px;
 }
 #satrow3 {
     margin-left: 10px;
     background-image: url("assets/images/rose.png");
     background-repeat: no-repeat;
     background-position: 66px center;
     padding-left: 0px;
     padding-bottom: 6px;
     padding-top: 3px;
     font-size: 12px;
     color: #6a6969;
     width: 104px;
     display: fixed;
 }
 #satrow4 {
     padding-bottom: 3px;
     background-image: url("assets/images/tiffany-blue.png");
     background-repeat: no-repeat;
     background-position: 75px center;
     padding-left: 12px;
     padding-bottom: 10px;
     font-size: 12px;
     color: #6a6969 width: 92px;
 }
 #sunrow3 {
     margin-left: 10px;
     background-image: url("assets/images/caramel.png");
     background-repeat: no-repeat;
     background-position: 66px center;
     padding-left: 0px;
     padding-bottom: 6px;
     padding-top: 3px;
     font-size: 12px;
     color: #6a6969;
     width: 104px;
 }
 #sunrow4 {
     padding-bottom: 3px;
     background-image: url("assets/images/almond.png");
     background-repeat: no-repeat;
     background-position: 75px center;
     padding-left: 12px;
     padding-bottom: 10px;
     font-size: 12px;
     color: white;
     background-color: #c39005;
     width: 105px;
 }
 #picture2 li {
     backgroun-color: pink;
 }
 a:hover {
     color: #d42551;
     text-decoration: none;
 }
 /*Footer CSS for all files in the mboutique website */
 footer {
     margin-top: 130px;
     height: 80px;
     background-color: #df5277;
     width: 1000px;
     display: fixed;
 }
 .foot1 {
     float: left;
     padding-top: -6px;
     padding-left: 110px;
     background-image: url("assets/images/mail.png");
     background-repeat: no-repeat;
     background-position: 85px center;
     color: white;
     font-size: 12px;
 }
 .foot2 {
     float: left;
     padding-left: 230px;
     background-image: url("assets/images/phone.png");
     background-repeat: no-repeat;
     background-position: 200px center;
     color: white;
     font-size: 12px;
 }
 .foot3 {
     margin: -38px;
     float: left;
     padding-left: 770px;
     color: white;
     font-size: 12px;
 }
 .foot4 {
     margin: -28px;
     float: left;
     padding-left: 835px;
     color: white;
 }
 .foot5 {
     margin: -28px;
     float: left;
     padding-left: 865px;
     color: white;
 }
 .foot6 {
     float: left;
     margin-top: -1px;
     margin-left: 360px;
     color: white;
     font-size: 11px;
 }
 /*CSS file for the our_macarons.html (about page) file */
 p#abouttitle1 {
     margin-top: 78px;
     margin-left: 45px;
     width: 1000px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     color: #6a6969;
 }
 #aboutdetail1 {
     margin-top: 32px;
     margin-left: 45px;
     width: 900px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 14px;
     color: #6a6969;
 }
 #abouttitle2 {
     margin-top: 39px;
     margin-left: 45px;
     width: 600px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 20px;
     color: #6a6969;
 }
 #aboutdetail2 {
     margin-top: -170px;
     margin-left: 45px;
     width: 900px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 14px;
     color: #6a6969;
     margin-bottom: -40px;
 }
 #aboutclassics ul {
     margin-top: 40px;
     margin-left: 40px;
     font-size: 14px;
     background-image: url("assets/images/our-macarons-background.png");
     background-repeat: no-repeat;
     background-position: 62% 215%;
     height: 460px;
     width: 870px;
     background-color: white;
     font-family: Arsial, Helvetica, sans-serif;
 }
 /*CSS file for the gifts-parties.html file */
 span {
     color: #df5277;
 }
 #giftsclassics {
     float: left;
     margin-top: 25px;
     margin-left: 45px;
     font-size: 14px;
     width: 870px;
     padding-bottom: 20px;
     font-family: Arsial, Helvetica, sans-serif;
 }
 #giftstower {
     float: left;
     margin-left 45px;
     margin-top: 40px;
     font-size: 14px;
     padding-bottom: 10px;
 }
 #giftimage {
     margin-top: 20px;
     background-image: url("assets/images/gifts-parties-background.png");
     background-color: white;
     width: 1000px;
     height: 700px;
     margin-bottom: -180px;
 }
 #giftstitle3 {
     Margin-left: 20px;
     margin-top: 1px;
     margin-left: 45px;
     width: 600px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 20px;
     color: #6a6969;
     width: 870px;
 }
 #giftsdetail2 {
     margin-top: 20px;
     margin-left: 45px;
     width: 600px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 14px;
     color: #6a6969;
 }
 #giftsdetail3 {
     margin-top: -10px;
     margin-left: 45px;
     width: 500px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 14px;
     color: #6a6969;
 }
 #giftitem {
     margin-left: 45px;
 }
 /*CSS for Contact.html file */
 #contactbody {
     position: relative;
     margin-top: 05px;
     width: 1000px;
     padding-bottom: 230px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
 }
 #contactclassics ul {
     list-style-type: none;
     float: left;
     width: 1000px;
     color: #6a6969;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
 }
 input {
     background-color: #f5f5f5;
     height: 35px;
     width: 310px;
     margin-bottom: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
 }
 #contracttitle1 {
     margin-top: 50px;
     margin-left: 35px;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     color: #6a6969;
 }
 #contracttitle2 {
     position: relative;
     margin-top: -38px;
     margin-bottom: 35px;
     font-size: 20px;
     margin-left: 400px;
     font-family: Arial, Helvetica, sans-serif;
     color: #6a6969;
 }
 #contactform {
     margin-top: -290px;
     float: left;
     margin-left: 400px;
     width: 310px;
     height: 25px;
 }
 textarea {
     width: 310px;
     height: 70px;
     background-color: #f5f5f5;
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
     color: #6a6969;
 }
 #contactimg {
     margin-top: -130px;
     float: left;
     margin-left: 370px;
 }
 #contractsend {
     width: 135px;
     margin-left: 180px;
     margin-top: 8px;
 }
 #contactdetail2 {
     margin-top: -120px;
     margin-left: 45px;
     width: 900px;
     font-family: Arsial, Helvetica, sans-serif;
     font-size: 14px;
     color: #6a6969;
 }
 #contactaddress {
     color: ##6a6969;
     font-size: 14px;
     padding-top: 20px;
 }
 #contactphone {
     color: ##6a6969;
     font-size: 14px;
     padding-top: 20px;
     padding-bottom: 10px;
 }
 #contactemail {
     color: #df5277;
     font-size: 14px;
     padding-top: 10px;
     padding-bottom: 10px;
 }